
* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    background-color: #000;
    height: auto;
    width: 100%;
}

.kr-logo {
    height: 60px;
}

.nav-colors {
    color: goldenrod;
}

ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

li {
    font-size: 30px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
}

.icon {
    color: goldenrod;
}

.bg-container {
    background-image: url("https://res.cloudinary.com/daucyvoq5/image/upload/v1701445131/bg-image-transformed_nxg8vz.jpg");
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main-heading {
    font-family: Roboto;
    color: #fff;
    text-align: center;
}

span {
    color: goldenrod;
    /* font-family: aquatico; */
}

.main-content {
    font-family: Roboto;
    color: #fff;
    text-align: center;
}

.work-cards-container {
    background-color: #000;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
}

@media (max-width: 700px) {
    .work-cards-container {
        height: auto;
    }
}

.hr-line {
    background-color: #000;
    color: #fff;
    border: 1px solid #fff;
    margin: 10px;
}

.Gallery-name {
    color: white;
    /* text-decoration: underline; */
    /* text-decoration-color: goldenrod; */
    font-family: Roboto;
    font-size: 30px;
    text-align: center;
    /* text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.5); */
}

.cards-container {
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* justify-content: space-evenly; */
    flex-wrap: wrap;
}

.event-card {
    border: 2px solid goldenrod;
    border-radius: 10px;
    margin: 10px;
    padding: 5px;
}

.event-name {
    font-family: Arial;
    font-weight: 400;
    font-size: 18px;
    text-align: center;
}

.image {
    height: 150px;
    border-radius: 10px;
    /* border-top-left-radius: 10px;
    border-top-right-radius: 10px; */
    background-size: cover;
}


h3 {
    font-family: Roboto;
    color: #fff;
    padding-left: 5px;
    padding-top: 5px;
}